
if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    alias ls='ls --color=auto'
    #alias dir='dir --color=auto'
    #alias vdir='vdir --color=auto'

    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi

# fucking conda being conda
alias python=python3
alias pip=pip3

# some more ls aliases
alias ll='ls -alFh'
alias la='ls -A'
alias l='ls -CF'

# Command Shorthands
function mkd() {
  mkdir $1
  cd $1
}

function cl() {
  cd $1
  ls 
}

function killge() {

  if [ "$#" -lt 1 ]; then
    echo 'Usage: killge <higher_than_pid>'
    return
  fi

  # prompt the user first
  to_kill=$(ps aux | awk -v treshold=$1 '$2 >= treshold')
  echo "$to_kill"
  echo '> Kill the above processes? (y/n)'
  read -r answer

  if [[ "$answer" == "y" ]]; then
    echo "Confirmed. Proceeding..."

    pids_to_kill=$(echo "$to_kill" | awk '{print $2}' | tail -n +2)
    kill $pids_to_kill

  elif [[ "$answer" == "n" ]]; then
    echo "Aborted."
  else
    echo "Invalid input. Aborted."
  fi
}

alias nv='watch -d -n "0.5" nvidia-smi'
alias gis='git status'

